.App {
  text-align: center;
}

.members {
  margin-top: 10vh;
}

.title {
  width: 25%;
  background-color: gray;
  padding-left: 5vh;
  padding-right: 5vh;
  border: 3px solid black;
}

.member-wrapper {
  display: flex;
  justify-content: center;
}